# Dependencies and generated logs
node_modules/
*.log

# Go
bin/
dist/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Database & runtime files
*.db-journal
*.db-wal
*.db-shm

# Windmill volumes & logs (if stored locally)
/tmp/windmill/

# IDE & OS
.DS_Store
.idea/
.vscode/

test*