# Windmill Environment Variables
DATABASE_URL=postgres://postgres:changeme@db:5432/windmill?sslmode=disable
WM_IMAGE=ghcr.io/windmill-labs/windmill:latest
BASE_URL=http://localhost:8000
WINDMILL_PORT=8000
